body {
    background-color: #ebebea;
    font-family: Ubuntu;
}
.content {
    margin-bottom: 20px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
.content-title {
    padding: 15px 30px;
    font-size: 1.2rem;
    border-bottom: 1px solid #e1e1e1;
}
.content-detail {
    display: block;
    padding: 5px 30px 5px;
}
.active{
    display: block !important;
}
.inputs {
    padding: 15px 0 0;
    margin-bottom: 15px;
}
.input-items {
    height: 2.5em;
    display: table;
    width: 100%;
    padding-bottom: 10px;
}
.input-items-wrapper{
    display: flex;
}
.input-label{
    flex: 1.5;
}
.input-input{
    margin-left: auto;
    display: flex;
    border-radius: 3px;
    flex: 5;
}
.input-grp{
    border: 1px solid #e1e1e1;
    background-color: #f5f5f5;
    padding: 0 5px;
    color: #575757;
    z-index: 1;
    width: 60px;
}
.input-grp:hover{
    cursor: default;
}
.input-grp-drop-down {
    border: 1px solid #e1e1e1;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #575757;
    z-index: 1;
    width: 360px;
    height: 40px;
    align-items: center;
    display: flex;
    border-radius: 3px;
    transition: box-shadow 100ms ease-in;
    max-width: 460px;
}
.input-grp-drop-down>span {
    margin-left: auto;
}
.input-grp-drop-down:hover {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    z-index: 4;
    cursor: pointer;
}
.prefix {
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.suffix {
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}
.input-grp-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    float: left;
}
.input-grp-text>i{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
.input-grp-text-dropdown {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.input-grp-text-dropdown > i {
    margin: 0 0 0 5px;
}
label{
    color: #696969;
}
input {
    border: 1px solid #e1e1e1;
    font-family: inherit;
    z-index: 2;
    border-radius: 3px;
    padding: 5px;
    transition: box-shadow 100ms ease-in;
    height: 40px;
    width: 360px;
}
input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.input-box {
    float: right;
}
input.input-box.middle {
    width: 240px;
    border-radius: 0;
    border: 1px solid #e1e1e1;
}
input.input-box.prefix {
    width: 300px;
    max-width: 400px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
input.input-box.suffix {
    width: 300px;
    max-width: 400px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
input:hover{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
textarea.input-box {
    padding: 5px;
    width: 360px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}
textarea.input-box:hover {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
textarea.input-box:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.checkbox {
    background-color: rebeccapurple;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    margin-left: 256px;
}
.checkbox-container {
    color: white;
    display: flex;
    padding: 10px 40px;
    position: relative;
    cursor: pointer;
}
.checkmark {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    left: 10px;
    border-radius: 3px;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    width: 11px;
    height: 5px;
    border: solid black;
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg) translate(-56%, -27%);
}
.checkbox-container input:checked ~ .checkmark {
    background-color: white !important;
}
.checkbox-container input:checked ~ .checkmark:after{
    display: block;
}
/*.checkbox {
    margin-right: auto;
    width: 250px;
    background-color: rgba(76, 70, 81, 1);
    padding: 5px;
    border-radius: 4px;
    height: 30px;
    align-items: center;
    color: white;
    float: left;
    display: flex;
    transition: opacity .2s ease-in;
}
.checkbox-container{
    color: white;
}
.checkbox input:checked ~ .checkbox-box{
    background-color: #ccc;
}
.checkbox-default{
    display: none;
}
.checkbox-box {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 2px;
    margin-right: 8px;
    margin-left: 5px;
}*/
.save-row {
    margin-top: 30px;
    padding: 30px;
    border-top: 1px solid #e1e1e1;
}
.btn-wrapper{
    float: right;
}
.img-upload {
}
.section-title {
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-weight: 500;
}
.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.btn {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgba(76, 70, 81, 1);
    color: rgba(255,255,255,.8);
    font-family: inherit;
    transition: background-color .1s ease-in;
}
.btn:hover{
    background-color: rgba(76, 70, 81, .8);
    cursor: pointer;
}
#img-upload-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.img-prw {
    height: 170px;
    width: 160px;
    border: 1px dashed;
    margin: 0 15px 15px 0;
}
#camera-icon{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 450px){
    .content-detail {
        display: block;
    }
}