@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

.content-wrapper {
    margin-top: 50px;
    padding: 0 20% 20px;
    background-color: #e4e4e4;
    font-family: 'teko', sans-serif;
}

.content-body {
    background-color: white;
}

.slideshow-item > img {
    display: block;
    width: 100%;
}

.sections {
    padding: 30px;
}

.section-title > h2 {
    padding: 10px 0;
    font-size: 25px;
    color: #707070;
    display: block;
    text-align: center;
}

.product-categories-list {
    padding: 10px 150px;
}

    .product-categories-list > ul {
        display: flex;
        justify-content: space-between;
    }

.sections.categories {
    transition: padding .2s ease-out;
}
.brands.sticky .section-title{
    display: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 60%;
    z-index: 100;
    background-color: rgba(240, 248, 255, 0.92);
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px 30px;
}
    .sticky + .sections.product-list-body {
        margin-top: 210px;
    }
.product-categories-item {
    width: 130px;
    height: 156px;
    border: 3px solid #707070;
    border-radius: 8px;
}

    .product-categories-item:hover {
        background-color: #f1f1f1;
    }

    .product-categories-item > span {
        text-align: center;
        display: block;
        font-size: 22px;
        color: #707070;
    }

.image-box {
    width: 124px;
    height: 115px;
}

    .image-box > img {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.7);
    }

.banners {
    margin-bottom: 20px;
}

    .banners img {
        width: 100%;
    }

.product-list > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-cards {
    width: 200px;
    min-height: 315px;
    border: 2px solid #5FD4FF;
    border-radius: 5px;
    padding: 2.5%;
    margin-bottom: 20px;
    transition: transform .3s ease-in-out;
}

    .product-cards:hover {
        transform: scale(1.08);
    }

.product-cards-thumbnail {
    position: relative;
    width: 100%;
    padding: 0 0 20px;
}

    .product-cards-thumbnail img {
        width: 95%;
        position: relative;
        left: 50%;
        display: block;
        transform: translateX(-50%);
    }

.product-cards-model {
    text-align: center;
}

    .product-cards-model > .model-name {
        font-size: 20px;
    }

    .product-cards-model .model-price {
        font-size: 25px;
        color: red;
    }

.brand-list {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

    .brand-list > ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
.brand-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.product-brand-section#asus {
    margin-bottom: 25px;
    padding: 5px;
    background: linear-gradient(45deg, rgba(95,212,255, 1), rgba(152,243,248,1));
    display: flex;
}
.brand-section-logo {
    width: 40px;
}
    .brand-section-logo img {
        width: 100%;
        padding: 5px;
        display: block;
    }
.brand-section-name h5 {
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}
