@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0; 
}
body {
}
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #0C283F;
    align-items: center;
    padding: 5px 21%;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.footer {
    width: 100%;
    height: 50px;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    background-color: #0C283F;
    text-align: center;
}
.leading-logo>img{
    display: block;
}
.header-navbar{
    color: white;
}
.header-navbar>ul{
    display: flex;
}
.navbar-link{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.navbar-link:visited{
    color: white;
}
.navbar-link:active{

}